html, body {
    margin: 0;
    padding: 0;
    color: #000;
}
a {
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
header, footer {
    background: #6c3d3d;
    padding: 1em;
    color: #fff;
    text-transform: uppercase;
}
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}
p {
    margin: 0;
    padding: 0;
}
/* menu */
menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
menu li.menu-site-item {
    flex: 1 1 auto;
    display: block;
}
menu li.menu-site-item a {
    background: #865555;
    padding: 2em 0;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
    border: 3px solid #845151;
    color: #fff;
}
menu li.menu-site-item:hover a {
    background: #ffb5b5;
    border: 3px solid #ffe6e6;
}
#admin-menu li.menu-site-item a {
    background-color: #49000d;
    border-color: #845151;
}
#admin-menu li.menu-site-item:hover a {
    background-color: #851c2a;
    border-color: #7e2121;
}

.alert {
    padding: 1em 2em;
    background: darkgoldenrod;
    border: #9d7202;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 1.2;
    font-family: "Times New Roman", serif;
}
.alert.alert-error {
    background: #620003;
    border: #49000d;
}
.alert.alert-success {
    background: #007221;
    border: #1e5000;
}

#site-content {
    margin-top: 1em;
    padding-bottom: 85px;
}
.btn {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background: #865555;
    padding: 8px 2em;
    border: 1px solid #6c3d3d;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Avenir Next", serif;
    letter-spacing: 1px;
}
.btn-edit {
    background: #1f7d8d;
    border-color: #0f5765;
}
.btn-delete {
    background: #a80c0c;
}
.btn:hover {
    background: #4f2121;
    border: 1px solid #411a1a;
    cursor: pointer;
}
input[type=text], input[type=password] {
    display: block;
    width: 100%;
    padding: .6rem .8rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    background: #fff;
    border: 1px solid #000000;
}
label.form-label {
    margin-bottom: .5rem;
    display: inline-block;
}
.form-row {
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
}
.table {
    width: 100%;
}
table td, table th {
    padding: 1em;
    border: 1px solid #493e3e;
}